# Credenciais do Banco e Backend
MYSQL_ROOT_PASSWORD=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
EMAIL_APP=
EMAIL_PASSWORD=

# --- Inteligência Artificial (Camilo) ---
GROQ_API_KEY=
GEMINI_API_KEY=
ANONYMIZED_TELEMETRY=False
BACKEND_API_URL=http://hydrasense-backend:8080
